.sliderwrapper{
position: relative; 
overflow: hidden; 
border: 10px solid #4B2802;
border-bottom-width: 6px;
width: 400px; /*width of featured content slider*/
height: 250px;
width:70%;
float:left;
}



.sliderwrapper .contentdiv{
visibility: hidden;
position: absolute; 
left: 0;  
top: 0;  
padding: 5px;
background: white;
width: 390px; /*width of content DIVs within slider. Total width should equal slider's inner width (390+5+5=400) */
height: 100%;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
}

.pagination{
width: 400px; /*Width of pagination DIV. Total width should equal slider's outer width (400+10+10=420)*/
text-align: right;
background-color: #4B2802;
padding: 5px 10px;
width:70%;
float:left;
}

.pagination a{
padding: 0 5px;
text-decoration: none; 
color: #00007D;
background: white;
}

.pagination a:hover, .pagination a.selected{
color: #000;
background-color: #FEE496;
}